<!-- This is the actor-sheet-merchant.html file for ARS -->
<!-- It defines the HTML structure for the Merchant ActorSheet -->

<div class="merchant">
    <form class="ars-actor-sheet-merchant" autocomplete="off">
        <header class="sheet-header">
            <h1>{{actor.name}}</h1>
        </header>

        <div class="sheet-content">
            <section class="sheet-body">
                {{#if isGM}}
                    <div class="merchant-info">
                        <h2>Merchant Information</h2>
                        <div class="form-group">
                            <label >Purchase Markup</label>
                            <input type="float" name="system.markup.buy" class="set-buy-markup"
                                value="{{actor.system.markup.buy}}" step="0.01" />
                        </div>
                        <div class="form-group">
                            <label >Sell Markdown</label>
                            <input type="float" name="system.markup.sell" class="set-sell-markup"
                                value="{{actor.system.markup.sell}}" step="0.01" />
                        </div>
                    </div>
                {{/if}}

                <div class="items">
                    <h2>Items for Sale</h2>
                    <div class="item-list">
                        {{#each items}}
                            <li class="flexrow item" data-item-id="{{this.uuid}}">
                                <div>{{this.name}}</div>
                                <div>Price: {{this.system.cost.value}} {{this.system.cost.currency}}</div>
                                <button type="button" class="buy-item-button" data-item-id="{{this.uuid}}">Buy</button>
                            </li>
                        {{/each}}
                    </div>
                </div>

                <div class="player-items">
                    <h2>Sell Your Items</h2>
                    <div class="item-list">
                        {{#each playerItems}}
                            <li class="flexrow item" data-item-id="{{this.uuid}}">
                                <div>{{this.name}}</div>
                                <div>Price: {{this.system.cost.value}} {{this.system.cost.currency}}</div>
                                <button type="button" class="sell-item-button"
                                    data-item-id="{{this.uuid}}">Sell</button>
                            </li>
                        {{/each}}
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>