<div class="sheet-card">

    {{log "DEBUG chatCard-actionV2.hbs this-->" this}}


    <div class="action-card item">
        {{#if isPopout}}
        {{else}}
            <div class="non-owner-only-view">
                {{localize "ARS.unknownAction"}}
            </div>
        {{/if}}
        <div class="owner-only-view">
            {{#if isPopout}}
            {{else}}
                <div class="action-name" data-type="item" data-uuid="{{item.uuid}}" data-id="{{item.id}}">
                    <div class="secure-name">{{#if item.name}}{{item.name}}{{/if}}</div>
                </div>
            {{/if}}
            <div class="card-buttons chatCard-action">
                {{> "systems/ars/templates/chat/parts/chatCard-actions-blockV2.hbs" config=system.config }}
            </div>
        </div>
    </div>
</div>
</div>